$screen-xs: 576px !default;
$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-lg: 1200px !default;
$screen-xl: 1600px !default;
$breakpoints: (
	'xs': $screen-xs,
	'sm': $screen-sm,
	'md': $screen-md,
	'lg': $screen-lg,
	'xl': $screen-xl,
);

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
	}

	@if $type == max {
		$width: $width - 1px;
	}

	@media only screen and (#{$type}-width: $width) {
		@content;
	}
}